:root{
    box-sizing: border-box;
    background-color: #E8F5E9;
    font-family: "Playfair Display", serif;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #2E7D32;
    border-radius: 10px;
}

::-webkit-scrollbar:hover{
    width: 7px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #23aa2a;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    display: grid;
    grid-template-columns: 30% 80%;
    column-gap: 20px;
    background-color: #2E7D32;
    color: #FFFFFF;
    height: 10%;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
}

.left-header{
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 8px;
}

.img-logo{
    height: 70px;
    width: 120px;
}

.right-header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: end;
    margin-right: 15%;
    align-content: center;
}

.right-header a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 10px;
}

.right-header a:hover{
    color: #c8f03a;
}

.right-header a.active{
    color: #b5dd24;
}

.welcome-text{
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    border-right: .13em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.main{
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 10px;
}

tr form{
    display: inline-flex;
}

tr:nth-child(odd) {
    background-color: #b3eec4;
}

tr:nth-child(even) {
    background-color: #edffd8;
}

.updateBtn{
    color: #fafafa; 
    background-color: #23aa2a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.updateBtn:hover{
    background-color: #0e6b11;
}

.deleteBtn{
    color: #FFFFFF; 
    background-color: #F44336;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover{
    background-color: #8f0101;
}

.sup_header{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.right-sup{
    margin-top: 30px;
}

.addSup{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(109, 180, 130);
    background-color: #325e49;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
} 
.allSup{
    text-decoration: none;
    color: white;
    border: 1px solid green;
    background-color: #0e7913;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.addSup:hover{
    background-color: #547a53;
}

.allSup:hover{
    background-color: #0b9606;
}

hr {
    border: 1px solid #81C784; 
    width: 100%; 
}

.item-header{
    text-align: center;
}

.it-pro{
    color: #23aa2a;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
    margin-top: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 30px;
    background-color: #dff3e1;
}

.card:hover{
    transform: scale(1.1);
    background-color: #a8e7af;
    cursor: pointer;
}

.img{
    height: 50%;
    margin-bottom: 10%;
}

.img>img{
    width: 80%;
    height: 100%;
    margin: 10%;
    border: 1px solid green;
    border-radius: 5%;
}

.item-desc{
    margin-left: 10%;
    margin-top: 5px;
    text-align: justify;
}

.item-desc p span{
    font-weight: 700;
}

.order{
    display: grid;
    grid-template-columns: 50% 50%;
}

.purchase-order{
    width: 100%;
}

.purchase-details table{
    width: 98%;
}

.sales-details table{
    width: 98%;
}

.footer{
    text-align: center;
    border-top: 2px solid #81C784;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    background-color: #E8F5E9;
    margin-top: 20px;
    height: 50px;
    bottom: 0;
    padding: 15px 0;
}

.intro{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.right-intro span{
    color: orange;
}

.desc{
    display: grid;
    grid-template-columns: 50% 50%;
}

.features{
    text-align: justify;
    margin-right: 20px;
}

.benefits{
    text-align: justify;
    margin-right: 20px;
}